<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="BTOB" connectionString="Data Source=3.224.17.235, 14333;Initial Catalog=BTOB;User ID=icgadmin;Password=masterkey" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="IntervaloServicio" value="0 0/1 * 1/1 * ? *" />
		<add key="HostSFTP"      value="172.23.24.54" />
		<add key="Puerto"      value="22" />
		<add key="Usuario"      value="anyuleth.cortes" />
		<add key="pass"      value="_vNNtL%x;rkb9/G}" />
		<add key="FromWMS"      value="/FromWMS/" />
		<add key="ToWMS"      value="/ToWMS/" />
		<add key="CarpetaPedidos"      value="C:\Users\anyuleth.cortes\Desktop\3PL\" />
		<add key="NombreArchivoXML"      value="Ajuste de Inventario" />
		<add key="ExtencionArchivoXML"      value=".xml" />
		<add key="SMTP" value="smtp.office365.com" />
		<add key="PUERTO" value="587" />
		<add key="CORREO" value="no-reply@ar-holdings.com" />
		<add key="CORREOTo" value="anyuleth.cortes@ar-holdings.com" />
		<add key="CORREOtoUser" value="anyuleth.cortes@ar-holdings.com" />
		<add key="PASSWORD" value="2019Rahlds" />
		<add key="ASUNTONOTIPROVEEDOREEROR" value="Notificación de error en servicio de proveedores Coupa" />
		<add key="ASUNTONOTIPROvEEROR" value="[COUPA] PA Atención proveedor con perfil no completado" />
		<add key="Server"      value="3.224.17.235, 14333" />
		<add key="Password"      value="masterkey" />
		<add key="User"      value="icgAdmin" />
	</appSettings>
</configuration>